.pets {
  &__container {
    text-align: center;
  }
  &__title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 80px;
  }

  &__swiper {
    max-width: 992px;
  }

  &__button {
    margin-top: 50px;
  }

  &__swiper-container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
