.card {
  height: 300px;
  position: relative;
  overflow: clip;
  &__img {
  }

  &__name {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    transform: scale(1.1);
  }
}
